### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ignore build outputs
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Java ###
*.class
*.log

### Build tools ###
target/
build/

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Keep resource files tracked ###
!res/**
